---
layout: null
permalink: /parts/barra-lateral.html
---
<!-- ===== COLUNA LATERAL DIREITA (fragmento único) ===== -->
<aside class="col-lateral">
  <div class="bloco-lateral">
    <span class="ad-label">Publicidade</span>
    {% if site.data.ads.lateral.ativo %}
    <iframe class="ad-frame ad-frame-lateral" src="{{ '/ads_lateral/' | relative_url }}" title="Publicidade coluna lateral" loading="lazy"></iframe>
    {% else %}
    <div class="ph-ph ph-lateral">Anúncio<br>(300x250)</div>
    {% endif %}
  </div>

  <div class="bloco-lateral">
    {% if site.data.popular.mais_lidas.size > 0 %}
    <h3 class="bloco-titulo">Mais Lidas da Semana</h3>
    <ol class="mais-lidas-lista mais-lidas-lateral">
      {% for item in site.data.popular.mais_lidas %}
      <li class="mais-lidas-item">
        <a href="{{ item.path }}" class="mais-lidas-link">
          <span class="mais-lidas-num">{{ forloop.index }}</span>
          <div class="mais-lidas-info">
            <span class="mais-lidas-titulo">{{ item.titulo }}</span>
          </div>
        </a>
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <h3 class="bloco-titulo">Mais Lidas</h3>
    <ol class="mais-lidas">
      {% for post in site.posts limit: 6 %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>

  <div class="bloco-lateral">
    <span class="ad-label">Publicidade</span>
    {% if site.data.ads.lateral_2.ativo %}
    <iframe class="ad-frame ad-frame-lateral" src="{{ '/ads_lateral_2/' | relative_url }}" title="Publicidade coluna lateral" loading="lazy"></iframe>
    {% else %}
    <div class="ph-ph ph-lateral">Anúncio<br>(300x250)</div>
    {% endif %}
  </div>
</aside>
